<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground 1</title>
    <style>
      .container {
        width: 900px;
        margin: 0 auto;
      }
      .row {
        display: flex;
        justify-content: center;
      }
      .box {
        height: 75px;
        width: 75px;
        border-radius: 10px;
        background-color: cadetblue;
        margin: 5px;
        border: 2px solid black;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Welcome!</h1>
      </div>
      <div class="row">
        {% for x in range(0, num_boxes) %}
        <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
